.root {
    -fx-background-image: url("../images/map-background.png");
}

.map {
}


.image-button {
    -fx-pref-width: 46;
    -fx-pref-height: 46;
    -fx-padding: 5;
}

.players {
    -fx-alignment: center;
    -fx-pref-width: 1200;
    -fx-pref-height: 150;
    -fx-spacing: 20;
    -fx-padding: 20;
}