

.left {
    -fx-background-image: url('../images/default-background.png');
}

.right {
    -fx-background-color: #04103a;
}

.heading {
    -fx-font-size: 38px;
    -fx-font-weight: bold;
}

.small {
    -fx-font-size: 18px;
}

.big {
    -fx-font-size: 46px;
}

.clickable {
    -fx-cursor: hand;
}